<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
	<test thread-count="5" name="Test">
		<classes>
			<class name="testCases.searchPg"/>
			<class name="testCases.listingPg"/>
			<class name="testCases.productPg"/>
			<class name="testCases.minicartPop"/>
			<class name="testCases.cartPg"/>
			<class name="testCases.loginPg"/>
			<class name="testCases.checkoutPg"/>
			<class name="testCases.accountPg"/>
		</classes>		
	</test> <!-- Test -->
</suite> <!-- Suite -->
